@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display:block;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display:block;
}